* {
  box-sizing: border-box;
}

.container {
  height: max-content;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories,
.goods,
.card {
  height: max-content;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 5px grey;
}

.categories {
  border-right: 1px solid rgb(192, 190, 190);
  background-color: rgb(193, 212, 217);
}

button {
  margin: 20px;
  color: blueviolet;
  border: 2px solid rgb(156, 152, 152);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 40px;
  box-shadow: 5px 0 5px -5px rgba(111, 108, 108, 0.5);
  color: rgb(84, 84, 91);
  cursor: pointer;
}

button:hover,
.good-card:hover {
  color: rgb(245, 234, 238);
  background-color: rgb(144, 157, 179);
}

.goods {
  background-color: rgb(238, 144, 150);
}

.good-card {
  margin: 20px;
  border: 2px solid rgb(156, 152, 152);
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 40px;
  background-color: rgb(241, 188, 194);
  box-shadow: 5px 0 5px -5px rgba(111, 108, 108, 0.5);
  color: rgb(84, 84, 91);
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  background-color: bisque;
}

.card button {
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

span {
  display: block;
}

.image-card {
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}

.message {
  width: 25%;
  text-align: center;
  font-size: 30px;
  color: brown;
}